<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="#top">
                <img src="/logos/H-Logo-white.svg" alt="M2 Labs Logo" width="120" height="40">
            </a>
            <p>Crafting the future of vintage sound</p>
        </div>
        <nav class="footer-nav" aria-label="Footer Navigation">
            <ul>
                <li><a href="privacy.html">Privacy&nbsp;Policy</a></li>
                <li><a href="warranty.html">Warranty</a></li>
                <li><a href="contact.html">Contact&nbsp;Us</a></li>
            </ul>
        </nav>
    </div>
    <div id="ecommerce-plugin"></div>
</footer>